.buttons{
    text-align: center;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 25px;
    font-weight: inherit;
    line-height: inherit;
    color: white;
    padding: 5px;
    background-color: #000000a1;
    border-radius: 15px;
    margin-right: 10px;
}